{% extends 'base.html.twig' %}

{% block title %}Editar Familiar{% endblock %}

{% block body %}
<div class="espaco">
    <h1>Editar Familiar</h1>

    {{ include('familia/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <a href="{{ path('familia_index') }}"><button type="button" class="ui button secondary"><i class="fa fa-arrow-circle-left"></i> Voltar</button></a>

    {{ include('familia/_delete_form.html.twig') }}
</div>
{% endblock %}
